@import "../../../jupiter-commons/src/components/styles/variables.scss";

.otpInput {
    width: 45px !important;
    height: 45px;
    padding: 0 !important;
    border-radius: 10px;
    border-color: $input-border;

    @media (max-width: 767px) {
        width: 37px !important;
        height: 37px !important;
    }
}

.resendBtn {
    justify-content: center;
    align-items: center;
    display: flex;

    :global(.ant-btn-loading) {
        cursor: not-allowed;
    }

    :global(.ant-btn-link) {
        text-decoration: underline !important;

        &:hover {
            text-decoration: underline !important;
        }
    }
}

.disabledButton {
    @media only screen and (min-device-width: 320px) and (max-device-width: 992px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        :global(.ant-btn-primary) {
            &:hover {
                background-color: $primary !important;
                color: white !important;
            }
        }
    }
}
