@import "../../../jupiter-commons/src/components/styles/variables.scss";

.customStepper {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 20;

    :global(.ant-progress) {
        :global(.ant-progress-outer) {
            margin: 0;
            padding: 0;

            :global(.ant-progress-inner) {
                background-color: $light-bg;
                border-radius: unset !important;

                :global(.ant-progress-bg) {
                    height: 3px !important;
                    border-bottom-left-radius: unset;
                    border-top-left-radius: unset;
                    border-top-right-radius: 100px;
                }
            }
        }
    }

    :global(.ant-progress-text) {
        display: none;
    }

    @media only screen and (max-width: 676px) {
        background: #f9f9f9;
    }
}

.closeOutlined {
    span {
        svg {
            width: 16px;
            height: 16px;

            @media only screen and (max-width: 820px) {
                width: 11px;
                height: 11px;
            }
        }
    }
}

.dermatologyContentCustom {
    height: auto !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.responsiveDesign {
    display: block;
    @media (min-width: 1024px) {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .customRadioFieldText {
        :global(.custom-ant-radio) {
            label {
                font-size: 14px !important;
                flex: 0 0 100%;
                span {
                    width: 100%;
                    display: block;
                    text-align: left;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .radioFieldText {
        :global(.custom-ant-radio) {
            label {
                flex: 0 0 100%;
                span {
                    width: 100%;
                    display: block;
                    text-align: left;
                }
            }
        }
    }
}
