@import "../../../../../jupiter-commons/src/components/styles/variables.scss";

.modalScroll {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.modalContent {
    :global(.ant-modal-body) {
        padding: 0px !important;
    }
}